.header {
    background-color: $burgerBackgroundColor;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    transition: 0.5s all;
    &.dark {
        background-color: $burgerBackgroundColorDark;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    &.fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 2;
    }
}
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    &__sign {
        z-index: 3;
        transition: 0.3s color;
        color: #000000;
        text-transform: uppercase;
        font-weight: 800;
        &.dark {
            color: #ffffff;
        }
        @media screen and (max-width: $breakpoint480) {
            font-size: 13px;
        }
    }
}

.logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    position: absolute;
    flex-direction: row;
    img {
        max-width: 70px;
        width: 100%;
        height: auto;
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 30px;
    display: none;
    @media screen and (max-width: $breakpoint992) {
        display: flex;
    }

    // .menu__item
    &__item {
        display: flex;
        position: relative;
    }

    &__navigation {
        position: relative;
        div {
            cursor: pointer;
            display: flex;
            gap: 2px;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            font-family: "Monument Extended";
            img {
                max-width: 13px;
                margin-bottom: 4px;
                width: 100%;
                height: auto;
                transition: 0.3s all;
                &.active {
                    rotate: 180deg;
                }
            }
        }
        @media screen and (max-width: $breakpoint992) {
            display: none;
        }
    }

    &__theme_switcher {
        display: none;
        @media screen and (max-width: $breakpoint768) {
            display: flex;
        }
    }

    // .menu__item-link
    &__item-link {
        color: inherit;
        display: flex;
        position: relative;
        text-transform: uppercase;
        font-family: "Monument Extended";
        transition: 0.5s color;
        &:after {
            position: absolute;
            content: "";
            left: 0;
            bottom: -3px;
            background: #131418;
            height: 1px;
            width: 100%;
            transform: scale(0);
            transition: 0.5s transform;

            // Comment if you need border animation
            display: none;
        }
        &:hover {
            color: darken($secondaryColor, 20) !important;
            &:after {
                transform: scale(1);
            }
        }
    }

    // Mobile menu styles
    @media screen and (max-width: $burgerBreakpoint) {
        position: fixed;
        background: $secondaryColor;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        display: none;

        &.active {
            display: flex;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
            flex-direction: column;
            pointer-events: all;
            justify-content: center;
            align-items: center;
            z-index: 2;
            animation: fade 0.1s linear;
        }
    }
}

.submenu {
    // .submenu__list
    &__list {
        width: 100%;
        position: absolute;
        bottom: -100px;
        left: 0;
        background: $secondaryColor;
        z-index: 2;
        display: none;
        transition: 0.3s all;
        &.active {
            display: flex;
            flex-direction: column;
            animation: fade 0.3s linear;
        }
    }

    // .submenu__item

    &__item {
        padding: 5px;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
        transition: 0.3s all;
        &:hover {
            background: darken($secondaryColor, 15);
            cursor: pointer;
            a {
                color: lighten($secondaryColor, 15) !important;
            }
        }
    }

    // .submenu__link

    &__link {
        display: flex;
    }
}

// ========================= [ Burger styles ] =========================
.burger {
    display: none;
    background: transparent;
    z-index: 3;
    @media screen and (max-width: $burgerBreakpoint) {
        display: flex;
        position: relative;
        height: 20px;
        width: 30px;

        &.active {
            &:before {
                background: $darkText;
                transform: rotate(45deg);
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
                top: 8px;
            }

            &:after {
                background: $darkText;
                transform: rotate(-45deg);
                bottom: 10px;
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
            }

            & span {
                transform: scale(0);
            }
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            background: $darkText;
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }

        &:before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            position: absolute;
            top: 9px;
            right: 0;
            width: 100%;
            background: $darkText;
            height: 2px;
            transform: scale(1);
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }

        &.dark {
            span {
                background: $lightText;
            }

            &:before,
            &:after {
                background: $lightText;
            }
        }
    }
}
